@let c = currentChapter();
@if (c && c.meta.favorite; as fav) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    <nz-descriptions-item [nzTitle]="descriptorTitle">{{ fav.descriptor }}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="rolesTitle">
      @for (tag of roleTags(); track tag.label) {
        <nz-tag [nzColor]="tag.color">{{ tag.label | translate }}</nz-tag>
      }
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="ageTitle">
      <app-ranked-stat stat="age" [hideDelta]="true" [suffix]="ageSuffix()" />
    </nz-descriptions-item>
    @if (fav.metadata.tenure_years; as tenure) {
      <nz-descriptions-item [nzTitle]="tenureTitle">{{ tenure }} ans</nz-descriptions-item>
    }
    <nz-descriptions-item [nzTitle]="lifespanTitle">
      <app-ranked-stat stat="lifespan" suffix=" ans" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="levelTitle">
      <app-ranked-stat stat="level" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="renownTitle">
      <app-ranked-stat stat="renown" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="childrenTitle">
      <app-ranked-stat stat="children" [suffix]="`/ ${fav.stats.max_children}`" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="killsTitle">
      <app-ranked-stat stat="kills" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="moneyTitle">
      <app-ranked-stat stat="money" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="equipmentPowerTitle">
      <app-ranked-stat stat="equipment_power" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="inventoryTitle">
      <app-inventory [resources]="fav.inventory ?? {}" />
    </nz-descriptions-item>
    @for (row of companionRows(); track row.label) {
      <ng-template #companionTitle>
        <img [src]="`assets/img/stats/${row.icon}.png`" />
        <span>{{ row.label | translate }}</span>
        <app-new-badge [show]="row.isNew" />
      </ng-template>
      <nz-descriptions-item [nzTitle]="companionTitle">
        <app-person-tag [id]="row.person.id" [name]="row.person.name" />
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <ng-template #ageTitle>
    <img src="assets/img/stats/age.png" />
    <span>{{ 'ui_age' | translate }}</span>
  </ng-template>
  <ng-template #childrenTitle>
    <img src="assets/img/stats/children.png" />
    <span>{{ 'ui_children' | translate }}</span>
  </ng-template>
  <ng-template #descriptorTitle>
    Titre
    <app-new-badge [show]="changedFields().descriptor" />
  </ng-template>
  <ng-template #equipmentPowerTitle>
    <img src="assets/img/stats/equipment_power.png" />
    <span>{{ 'ui_gear' | translate }}</span>
  </ng-template>
  <ng-template #inventoryTitle>
    <img src="assets/img/stats/inventory.png" />
    <span>{{ 'ui_inventory' | translate }}</span>
  </ng-template>
  <ng-template #killsTitle>
    <img src="assets/img/stats/kills.png" />
    <span>{{ 'ui_kills' | translate }}</span>
  </ng-template>
  <ng-template #lifespanTitle>
    <img src="assets/img/stats/lifespan.png" />
    <span>{{ 'ui_lifespan' | translate }}</span>
  </ng-template>
  <ng-template #levelTitle>
    <img src="assets/img/stats/level.png" />
    <span>{{ 'ui_level' | translate }}</span>
  </ng-template>
  <ng-template #moneyTitle>
    <img src="assets/img/stats/money.png" />
    <span>{{ 'ui_coins' | translate }}</span>
  </ng-template>
  <ng-template #renownTitle>
    <img src="assets/img/stats/renown.png" />
    <span>{{ 'ui_renown' | translate }}</span>
  </ng-template>
  <ng-template #rolesTitle>
    Rôles
    <app-new-badge [show]="changedFields().role" />
  </ng-template>
  <ng-template #tenureTitle>
    <img src="assets/img/stats/tenure.png" />
    <span>{{ tenureLabel() }}</span>
  </ng-template>

  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_stats' | translate">
    <nz-descriptions-item [nzTitle]="healthTitle">
      <app-ranked-stat stat="health" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="manaTitle">
      <app-ranked-stat stat="mana" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="staminaTitle">
      <app-ranked-stat stat="stamina" />
    </nz-descriptions-item>
    @if (fav.stats.happiness; as happiness) {
      <nz-descriptions-item [nzTitle]="happinessTitle">
        <span [class]="happiness | tier: 100">{{ happiness }}%</span>
      </nz-descriptions-item>
    }
    <nz-descriptions-item [nzTitle]="nutritionTitle">
      <span [class]="fav.stats.nutrition | tier: 100">{{ fav.stats.nutrition }}%</span>
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="speedTitle">
      <app-ranked-stat stat="speed" />
    </nz-descriptions-item>
  </nz-descriptions>

  <ng-template #healthTitle>
    <img src="assets/img/stats/health.png" />
    <span>{{ 'ui_health' | translate }}</span>
  </ng-template>
  <ng-template #happinessTitle>
    <img src="assets/img/stats/happiness.png" />
    <span>{{ 'ui_happiness' | translate }}</span>
  </ng-template>
  <ng-template #manaTitle>
    <img src="assets/img/stats/mana.png" />
    <span>{{ 'ui_mana' | translate }}</span>
  </ng-template>
  <ng-template #nutritionTitle>
    <img src="assets/img/stats/nutrition.png" />
    <span>{{ 'ui_nutrition' | translate }}</span>
  </ng-template>
  <ng-template #speedTitle>
    <img src="assets/img/stats/speed.png" />
    <span>{{ 'ui_speed' | translate }}</span>
  </ng-template>
  <ng-template #staminaTitle>
    <img src="assets/img/stats/stamina.png" />
    <span>{{ 'ui_stamina' | translate }}</span>
  </ng-template>

  <app-trait-summary source="favorite" [heading]="'ui_traits' | translate" />

  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_skills' | translate">
    @for (s of skillStats; track s.key) {
      <ng-template #titleRef>
        <img [src]="`assets/img/stats/${s.key}.png`" />
        <span>{{ s.label | translate }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="titleRef">
        <app-ranked-stat
          [deltaSuffix]="s.deltaSuffix ?? ''"
          [numberFormat]="s.numberFormat ?? '1.0-0'"
          [showRank]="s.showRank ?? true"
          [stat]="s.key"
          [suffix]="s.suffix ?? ''"
        />
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_combat' | translate">
    @for (s of combatStats; track s.key) {
      <ng-template #titleRef>
        <img [src]="`assets/img/stats/${s.key}.png`" />
        <span>{{ s.label | translate }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="titleRef">
        <app-ranked-stat
          [deltaSuffix]="s.deltaSuffix ?? ''"
          [numberFormat]="s.numberFormat ?? '1.0-0'"
          [showRank]="s.showRank ?? true"
          [stat]="s.key"
          [suffix]="s.suffix ?? ''"
        />
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <app-boat-card [isNew]="changedFields().boat" />

  <app-plot-card [isNew]="changedFields().plot" />
}
