@if (data(); as d) {
  <div class="stat-row">
    <span>
      @if (gaugeValue(); as c) {
        <span [class]="c | tier: d.value">{{ c | number: numberFormat() }}</span> / {{ d.value | number: numberFormat() }}{{ suffix() }}
      } @else {
        <span>{{ d.value | number: numberFormat() }}{{ suffix() }}</span>
      }
      <app-delta [suffix]="deltaSuffix()" [value]="d.valueDelta" />
    </span>
    @if (showRank() && (d.rank !== undefined || d.rankStatus)) {
      <span>
        @if (d.rankStatus === 'success') {
          <span class="rank rank-up">↑</span>
        }
        @if (d.rankStatus === 'error') {
          <span class="rank rank-down">↓</span>
        }
        @if (d.rank !== undefined) {
          <img [src]="`assets/img/podium/${d.rank}.png`" />
        }
      </span>
    }
  </div>
}
