@if (data(); as d) {
  <div class="stat-row">
    <span>
      @if (d.current !== undefined) {
        <span [class]="d.current | tier: d.max">{{ d.current | number: numberFormat() }}</span> / {{ d.max | number: numberFormat() }}
      } @else {
        <span>{{ d.max | number: numberFormat() }}</span>
      }
      <app-delta [value]="d.valueDelta" />
    </span>
    @if (d.rank <= 8) {
      <span>
        <app-delta [inverted]="true" [value]="d.rankDelta" />
        #{{ d.rank }}
      </span>
    }
  </div>
}
