@if (world(); as w) {
  <h2 class="section-title">{{ w.name }}</h2>
}

@if (currentChapter(); as c) {
  <p class="world-age">
    <img class="age-icon" [src]="`assets/img/ages/${c.meta.age.id}.png`" />
    {{ c.meta.age.label }}
  </p>
  <nz-divider />

  <ng-template #worldStatsHeader>
    <img class="panel-icon" src="assets/img/world/_panels/world_stats.png" />
    <span>Statistiques sur le Monde</span>
  </ng-template>
  <ng-template #favoritesHeader>
    <img class="panel-icon" src="assets/img/world/_panels/favorites.png" />
    <span>Favoris</span>
  </ng-template>

  <nz-collapse nzAccordion>
    <nz-collapse-panel [nzActive]="true" [nzHeader]="worldStatsHeader">
      <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
        @for (stat of worldStats; track stat.key) {
          <ng-template #titleRef>
            <img [src]="`assets/img/world/${stat.key}.png`" />
            <span>{{ stat.label }}</span>
          </ng-template>
          <nz-descriptions-item [nzTitle]="titleRef">
            @if (stat.useDelta) {
              <span>{{ worldDeltas()?.[stat.key] ?? c.meta.world[stat.key] | compact }}</span>
            } @else {
              <span>{{ c.meta.world[stat.key] | compact }}</span>
              <app-delta [value]="worldDeltas()?.[stat.key]" />
            }
          </nz-descriptions-item>
        }
      </nz-descriptions>

      <nz-descriptions nzBordered nzSize="small" nzTitle="Causes de mortalité" [nzColumn]="2">
        @for (cause of deathCauses; track cause.key) {
          <nz-descriptions-item [nzTitle]="cause.label">
            {{ deathsSincePrevious()?.[cause.key] ?? 0 | compact }}
          </nz-descriptions-item>
        }
        <nz-descriptions-item nzTitle="Total">
          {{ totalDeathsSincePrevious() ?? 0 | compact }}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="favoritesHeader">
      @if (c.meta.favorite; as fav) {
        <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
          <nz-descriptions-item nzTitle="Favoris">
            <img class="species-icon" [src]="`assets/img/species/${fav.asset_id}.png`" />
            {{ fav.name }}
            <img [src]="`assets/img/sex/${fav.sex}.png`" />
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Descripteur">{{ fav.descriptor }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Âge">{{ fav.age }} ans</nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzBordered nzSize="small" nzTitle="Stats" [nzColumn]="2">
          <nz-descriptions-item [nzSpan]="2" [nzTitle]="healthTitle">
            <app-ranked-stat stat="health" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzSpan]="2" [nzTitle]="manaTitle">
            <app-ranked-stat stat="mana" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzSpan]="2" [nzTitle]="staminaTitle">
            <app-ranked-stat stat="stamina" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="happinessTitle">
            <span [class]="fav.stats.happiness | tier: 100">{{ fav.stats.happiness }}</span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="nutritionTitle">
            <span [class]="fav.stats.nutrition | tier: 100">{{ fav.stats.nutrition }}</span>
          </nz-descriptions-item>
        </nz-descriptions>

        <ng-template #healthTitle><img src="assets/img/stats/health.png" /><span>Santé</span></ng-template>
        <ng-template #happinessTitle><img src="assets/img/stats/happiness.png" /><span>Joie</span></ng-template>
        <ng-template #manaTitle><img src="assets/img/stats/mana.png" /><span>Mana</span></ng-template>
        <ng-template #nutritionTitle><img src="assets/img/stats/nutrition.png" /><span>Faim</span></ng-template>
        <ng-template #staminaTitle><img src="assets/img/stats/stamina.png" /><span>Vigueur</span></ng-template>

        <app-rarity-stats title="Nombre de traits" [counts]="fav.traits" [deltas]="deltas()?.traits ?? null" />
        <app-rarity-stats title="Équipement" [counts]="fav.equipment" [deltas]="deltas()?.equipment ?? null" />

        <nz-descriptions nzBordered nzSize="small" nzTitle="Caractéristiques" [nzColumn]="1">
          <nz-descriptions-item [nzTitle]="damageTitle">
            <app-ranked-stat stat="damage" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="damageRangeTitle">
            <app-ranked-stat stat="damage_range" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="armorTitle">
            <app-ranked-stat stat="armor" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="criticalChanceTitle">
            <app-ranked-stat stat="critical_chance" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="attackSpeedTitle">
            <app-ranked-stat stat="attack_speed" />
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="speedTitle">
            <app-ranked-stat stat="speed" />
          </nz-descriptions-item>
        </nz-descriptions>

        <ng-template #armorTitle><img src="assets/img/stats/armor.png" /><span>Armure</span></ng-template>
        <ng-template #attackSpeedTitle><img src="assets/img/stats/attack_speed.png" /><span>Cadence</span></ng-template>
        <ng-template #criticalChanceTitle><img src="assets/img/stats/critical_chance.png" /><span>Critiques</span></ng-template>
        <ng-template #damageTitle><img src="assets/img/stats/damage.png" /><span>Dommages</span></ng-template>
        <ng-template #damageRangeTitle><img src="assets/img/stats/damage_range.png" /><span>Aléa</span></ng-template>
        <ng-template #speedTitle><img src="assets/img/stats/speed.png" /><span>Vitesse</span></ng-template>
      } @else {
        <nz-empty nzNotFoundContent="Aucun favoris pour l'instant" nzNotFoundImage="assets/img/empty/no-favorite.png" />
      }
    </nz-collapse-panel>
  </nz-collapse>
} @else {
  <nz-divider />
  <nz-empty nzNotFoundContent="Aucune donnée à afficher" nzNotFoundImage="assets/img/empty/no-data.png" />
}
