@if (family(); as f) {
  <nz-tag
    class="entity-tag family-tag"
    [class.dead]="f.dead"
    [class.framed]="!!border()"
    [style.--tag-border]="border()"
    [style.--tag-corner]="corner()"
    [style.--tag-fill]="f.bg_color"
    [style.--tag-ink]="ink()"
  >
    <span #truncated="appTruncated" appTruncated class="entity-name" nz-tooltip [nzTooltipTitle]="truncated.isTruncated() ? name() : ''">{{ name() }}</span>
    @if (medal() && f.rank; as r) {
      <img [src]="`assets/img/podium/${r}.png`" />
    }
    @if (f.size; as size) {
      <span class="tag-badge">{{ size }}</span>
    }
    @if (f.species; as sp) {
      <img [src]="`assets/img/species/${sp}.png`" />
    }
  </nz-tag>
}
