@use 'variables' as *;

:host {
  padding: 1.5rem;

  .section-title {
    margin-bottom: 0.2rem;
    text-align: center;
  }

  .world-age {
    color: $text-secondary;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
  }
}
