@if (world(); as w) {
  <h2 class="section-title">{{ w.name }}</h2>
}

@if (currentChapter(); as c) {
  <p class="world-age">
    <img class="age-icon" [src]="`assets/img/ages/${c.meta.age.id}.png`" />
    {{ c.meta.age.label }}
  </p>
  <nz-divider />

  @if (c.meta.favorite; as fav) {
    <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
      <nz-descriptions-item nzTitle="Nom">
        <img class="species-icon" [src]="`assets/img/species/${fav.asset_id}.png`" />
        {{ fav.name }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Descripteur">{{ fav.descriptor }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Âge">{{ fav.age }} ans</nz-descriptions-item>
    </nz-descriptions>

    <nz-descriptions nzBordered nzSize="small" nzTitle="Nombre de traits" [nzColumn]="1">
      <nz-descriptions-item [nzTitle]="normalTitle">
        {{ fav.traits.normal }}
        @if (traitDeltas()?.normal; as d) {
          <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
        }
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="rareTitle">
        {{ fav.traits.rare }}
        @if (traitDeltas()?.rare; as d) {
          <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
        }
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="epicTitle">
        {{ fav.traits.epic }}
        @if (traitDeltas()?.epic; as d) {
          <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
        }
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="legendaryTitle">
        {{ fav.traits.legendary }}
        @if (traitDeltas()?.legendary; as d) {
          <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
        }
      </nz-descriptions-item>
    </nz-descriptions>

    <ng-template #normalTitle><nz-badge nzColor="default" nzText="Normaux" /></ng-template>
    <ng-template #rareTitle><nz-badge nzColor="blue" nzText="Rares" /></ng-template>
    <ng-template #epicTitle><nz-badge nzColor="yellow" nzText="Épiques" /></ng-template>
    <ng-template #legendaryTitle><nz-badge nzColor="orange" nzText="Légendaires" /></ng-template>
  } @else {
    <p class="empty-state">Aucun favoris pour l'instant.</p>
  }
} @else {
  <nz-divider />
  <p class="empty-state">Aucune donnée à afficher.</p>
}
