@use 'variables' as *;

:host {
  padding: 1rem;

  .section-title {
    margin-bottom: 0;
    text-align: center;
  }

  .world-age {
    align-items: center;
    color: $text-secondary;
    display: flex;
    font-size: 0.9rem;
    gap: 0.4rem;
    justify-content: center;

    .age-icon {
      height: 1.2rem;
    }
  }

  ::ng-deep {
    nz-descriptions + nz-descriptions {
      margin-top: 1rem;
    }

    .ant-descriptions-header {
      margin-bottom: 4px;

      .ant-descriptions-title {
        color: $primary;
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: $letter-spacing-wide;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
      padding: 6px 12px !important;
    }

    .ant-descriptions-item-content {
      align-items: center;
      display: flex;
      gap: 0.4rem;

      .species-icon {
        height: 1.2rem;
      }
    }
  }
}
