@use 'variables' as *;

:host {
  padding: 1.5rem;

  .section-title {
    margin-bottom: 0;
    text-align: center;
  }

  .world-age {
    align-items: center;
    color: $text-secondary;
    display: flex;
    font-size: 0.9rem;
    gap: 0.4rem;
    justify-content: center;

    .age-icon {
      height: 1.2rem;
    }
  }
}
