@if (alliance(); as a) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    @if (a.identity.founder; as f) {
      <nz-descriptions-item [nzTitle]="founderTitle">
        <app-person-tag [id]="f.id" [name]="f.name ?? ''" />
      </nz-descriptions-item>
    }
    <nz-descriptions-item [nzTitle]="ageTitle"><app-ranked-stat source="alliance" stat="age" suffix=" ans" /></nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="kingdomsTitle">
      @for (k of a.kingdoms; track k.id) {
        <app-kingdom-tag [id]="k.id" [name]="k.name" />
      }
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="populationTitle"><app-ranked-stat source="alliance" stat="population" /></nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="renownTitle"><app-ranked-stat source="alliance" stat="renown" /></nz-descriptions-item>
    @for (row of lifetimeStats(); track row.stat) {
      <ng-template #lifetimeTitle>
        <img [src]="row.icon" /><span>{{ row.label }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="lifetimeTitle">
        <app-ranked-stat source="alliance" [inverted]="row.inverted" [stat]="row.stat" />
      </nz-descriptions-item>
    }
    <nz-descriptions-item [nzTitle]="buildingsTitle"><app-ranked-stat source="alliance" stat="buildings" /></nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="territoryTitle"><app-ranked-stat source="alliance" stat="territory" /></nz-descriptions-item>
  </nz-descriptions>

  <app-breakdown source="alliance" />
  <app-leaders [leaders]="a.leaders" />

  <ng-template #ageTitle><img src="assets/img/stats/age.png" /><span>Âge</span></ng-template>
  <ng-template #buildingsTitle><img src="assets/img/world/buildings.png" /><span>Bâtiments</span></ng-template>
  <ng-template #founderTitle><img src="assets/img/world/founder.png" /><span>Fondateur</span></ng-template>
  <ng-template #kingdomsTitle><img src="assets/img/world/kingdoms.png" /><span>Couronnes</span></ng-template>
  <ng-template #populationTitle><img src="assets/img/world/population.png" /><span>Population</span></ng-template>
  <ng-template #renownTitle><img src="assets/img/stats/renown.png" /><span>Renommée</span></ng-template>
  <ng-template #territoryTitle><img src="assets/img/world/territory.png" /><span>Territoire</span></ng-template>
}
