@use 'variables' as *;

:host {
  margin-top: auto;
  padding: 1rem;

  .map {
    border: 1px solid rgba($primary, 0.3);
    border-radius: $radius;
    cursor: zoom-in;
    image-rendering: auto;
    width: 100%;
  }
}
