@if (subspecies(); as s) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    <nz-descriptions-item [nzTitle]="ageTitle">
      <app-ranked-stat source="subspecies" stat="age" suffix=" ans" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="renownTitle">
      <app-ranked-stat source="subspecies" stat="renown" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="renownTotalTitle">
      <app-ranked-stat source="subspecies" stat="renown_total" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="membersTitle">
      <app-ranked-stat source="subspecies" stat="members" />
    </nz-descriptions-item>

    @for (row of lifetimeStats(); track row.stat) {
      <ng-template #lifetimeTitle>
        <img [src]="row.icon" />
        <span>{{ row.label | translate }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="lifetimeTitle">
        <app-ranked-stat source="subspecies" [inverted]="row.inverted" [stat]="row.stat" />
      </nz-descriptions-item>
    }

    <nz-descriptions-item [nzTitle]="citiesTitle">
      <app-ranked-stat source="subspecies" stat="cities" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="kingdomsTitle">
      <app-ranked-stat source="subspecies" stat="kingdoms" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="housedPctTitle">
      <app-ranked-stat deltaSuffix="%" source="subspecies" stat="housed_pct" suffix="%" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="fedPctTitle">
      <app-ranked-stat deltaSuffix="%" source="subspecies" stat="fed_pct" suffix="%" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="moneyTitle">
      <app-ranked-stat source="subspecies" stat="money" />
    </nz-descriptions-item>
  </nz-descriptions>

  <app-trait-summary source="subspecies" [heading]="'ui_traits' | translate" />

  <app-leaders [leaders]="s.leaders" />

  <app-breakdown source="subspecies" />

  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_species' | translate">
    <nz-descriptions-item [nzTitle]="stockTitle">
      <span>
        <img class="species-icon" [src]="`assets/img/species/${s.species.id}.png`" />
        {{ `species_${s.species.id}` | translate }}
      </span>
    </nz-descriptions-item>
    @if (biomeName(); as b) {
      <nz-descriptions-item [nzTitle]="biomeTitle">{{ b }}</nz-descriptions-item>
    }
    <nz-descriptions-item [nzTitle]="stockPopulationTitle">
      <app-ranked-stat source="species" stat="population" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="stockRenownTitle">
      <app-ranked-stat source="species" stat="renown" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="stockSubspeciesTitle">
      <app-ranked-stat source="species" stat="subspecies" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="stockCitiesTitle">
      <app-ranked-stat source="species" stat="cities" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="stockKingdomsTitle">
      <app-ranked-stat source="species" stat="kingdoms" />
    </nz-descriptions-item>
  </nz-descriptions>

  <ng-template #ageTitle>
    <img src="assets/img/stats/age.png" />
    <span>{{ 'ui_lineage_age' | translate }}</span>
  </ng-template>
  <ng-template #biomeTitle>
    <img src="assets/img/world/biomes.png" />
    <span>{{ 'ui_home_biome' | translate }}</span>
  </ng-template>
  <ng-template #citiesTitle>
    <img src="assets/img/world/cities.png" />
    <span>{{ 'ui_cities' | translate }}</span>
  </ng-template>
  <ng-template #fedPctTitle>
    <img src="assets/img/world/fed.png" />
    <span>{{ 'ui_fed' | translate }}</span>
  </ng-template>
  <ng-template #housedPctTitle>
    <img src="assets/img/world/housed.png" />
    <span>{{ 'ui_housed' | translate }}</span>
  </ng-template>
  <ng-template #kingdomsTitle>
    <img src="assets/img/world/kingdoms.png" />
    <span>{{ 'ui_kingdoms' | translate }}</span>
  </ng-template>
  <ng-template #membersTitle>
    <img src="assets/img/world/population.png" />
    <span>{{ 'ui_bearers' | translate }}</span>
  </ng-template>
  <ng-template #moneyTitle>
    <img src="assets/img/stats/money.png" />
    <span>{{ 'ui_coins' | translate }}</span>
  </ng-template>
  <ng-template #renownTitle>
    <img src="assets/img/stats/renown.png" />
    <span>{{ 'ui_renown' | translate }}</span>
  </ng-template>
  <ng-template #stockCitiesTitle>
    <img src="assets/img/world/cities.png" />
    <span>{{ 'ui_cities' | translate }}</span>
  </ng-template>
  <ng-template #stockKingdomsTitle>
    <img src="assets/img/world/kingdoms.png" />
    <span>{{ 'ui_kingdoms' | translate }}</span>
  </ng-template>
  <ng-template #stockPopulationTitle>
    <img src="assets/img/world/population.png" />
    <span>{{ 'ui_population' | translate }}</span>
  </ng-template>
  <ng-template #stockRenownTitle>
    <img src="assets/img/stats/renown.png" />
    <span>{{ 'ui_total_renown' | translate }}</span>
  </ng-template>
  <ng-template #stockSubspeciesTitle>
    <img src="assets/img/world/subspecies.png" />
    <span>{{ 'ui_subspecies_count' | translate }}</span>
  </ng-template>
  <ng-template #stockTitle>
    <img src="assets/img/world/species.png" />
    <span>{{ 'ui_stock' | translate }}</span>
  </ng-template>
  <ng-template #renownTotalTitle>
    <img src="assets/img/stats/renown.png" />
    <span>{{ 'ui_total_renown' | translate }}</span>
  </ng-template>
}
