@if (breakdown()) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_make_up' | translate">
    @if (tops().culture; as c) {
      <nz-descriptions-item [nzTitle]="cultureTitle">
        <div class="composition-row">
          <app-culture-tag [id]="c.id" [name]="c.name" />
          <span class="share">{{ share(c.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
    @if (tops().language; as l) {
      <nz-descriptions-item [nzTitle]="languageTitle">
        <div class="composition-row">
          <app-language-tag [id]="l.id" [name]="l.name" />
          <span class="share">{{ share(l.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
    @if (tops().religion; as r) {
      <nz-descriptions-item [nzTitle]="religionTitle">
        <div class="composition-row">
          <app-religion-tag [id]="r.id" [name]="r.name" />
          <span class="share">{{ share(r.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
    @if (tops().species; as s) {
      <nz-descriptions-item [nzTitle]="speciesTitle">
        <div class="composition-row">
          <span>
            <img class="species-icon" [src]="`assets/img/species/${s.asset_id}.png`" />
            {{ `species_${s.asset_id}` | translate }}
          </span>
          <span class="share">{{ share(s.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
    @if (tops().subspecies; as ss) {
      <nz-descriptions-item [nzTitle]="subspeciesTitle">
        <div class="composition-row">
          <app-subspecies-tag [id]="ss.id" [name]="ss.name" />
          <span class="share">{{ share(ss.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
    @if (tops().kingdom; as k) {
      <nz-descriptions-item [nzTitle]="kingdomTitle">
        <div class="composition-row">
          <app-kingdom-tag [id]="k.id" [name]="k.name" />
          <span class="share">{{ share(k.pct) }}</span>
        </div>
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <ng-template #cultureTitle>
    <img src="assets/img/world/cultures.png" />
    <span>{{ 'ui_culture' | translate }}</span>
  </ng-template>
  <ng-template #kingdomTitle>
    <img src="assets/img/world/kingdom.png" />
    <span>{{ 'ui_kingdom' | translate }}</span>
  </ng-template>
  <ng-template #languageTitle>
    <img src="assets/img/world/languages.png" />
    <span>{{ 'ui_tongue' | translate }}</span>
  </ng-template>
  <ng-template #religionTitle>
    <img src="assets/img/world/religions.png" />
    <span>{{ 'ui_religion' | translate }}</span>
  </ng-template>
  <ng-template #speciesTitle>
    <img src="assets/img/world/species.png" />
    <span>{{ 'ui_species' | translate }}</span>
  </ng-template>
  <ng-template #subspeciesTitle>
    <img src="assets/img/world/subspecies.png" />
    <span>{{ 'ui_subsp' | translate }}</span>
  </ng-template>
}
