@if (subspecies(); as s) {
  <nz-tag class="entity-tag subspecies-tag" [class.dead]="s.dead" [style.--tag-color]="s.color" [style.--tag-slab]="slab()" [title]="name()">
    <canvas #bookmark class="bookmark" height="0" width="0"></canvas>
    <span class="entity-name">{{ name() }}</span>
    @if (medal() && s.rank; as r) {
      <img [src]="`assets/img/podium/${r}.png`" />
    }
    @if (s.size; as size) {
      <span class="tag-badge">{{ size }}</span>
    }
    @if (s.species; as sp) {
      <img [src]="`assets/img/species/${sp}.png`" />
    }
  </nz-tag>
}
