@if (kingdom(); as k) {
  <nz-tag
    class="entity-tag kingdom-tag"
    [class.dead]="k.dead"
    [class.rank-1]="k.rank === 1"
    [class.rank-2]="k.rank === 2"
    [class.rank-3]="k.rank === 3"
    [style.--kingdom-color]="k.color"
    [title]="name()"
  >
    <img class="banner" [src]="bannerSrc()" />
    <span class="entity-name">{{ name() }}</span>
    @if (k.cities; as c) {
      <span class="kingdom-cities">
        <span>{{ c }}</span>
      </span>
    }
    @if (k.species; as s) {
      <img [src]="`assets/img/species/${s}.png`" />
    }
  </nz-tag>
}
