@if (kingdom(); as k) {
  <nz-tag class="entity-tag kingdom-tag" [class.dead]="k.dead" [style.--kingdom-color]="k.color" [title]="name()">
    <img class="banner" [src]="bannerSrc()" />
    <span class="entity-name">{{ name() }}</span>
    @if (medal() && k.rank; as r) {
      <img class="medal" [src]="`assets/img/podium/${r}.png`" />
    }
    @if (k.cities; as c) {
      <span class="kingdom-cities">
        <span>{{ c }}</span>
      </span>
    }
    @if (k.species; as s) {
      <img [src]="`assets/img/species/${s}.png`" />
    }
  </nz-tag>
}
