@if (religion(); as r) {
  <nz-tag class="entity-tag religion-tag" [class.dead]="r.dead" [style.--tag-color]="r.color" [title]="name()">
    <canvas #emblem class="banner" height="0" width="0"></canvas>
    <span class="entity-name">{{ name() }}</span>
    @if (medal() && r.rank; as place) {
      <img [src]="`assets/img/podium/${place}.png`" />
    }
    @if (r.size; as size) {
      <span class="tag-badge">{{ size }}</span>
    }
    @if (r.species; as sp) {
      <img [src]="`assets/img/species/${sp}.png`" />
    }
  </nz-tag>
}
