@if (person(); as p) {
  <nz-tag class="entity-tag person-tag" [class.dead]="p.dead" [style.--person-color]="color()" [title]="name()">
    <canvas #portrait class="portrait"></canvas>
    <span class="entity-name">{{ name() }}</span>
    @if (p.sex; as s) {
      <img [src]="`assets/img/sex/${s}.png`" />
    }
    @if (p.dead) {
      <img src="assets/img/world/deaths.png" />
    } @else if (p.profession && p.profession !== 'unit') {
      <img [src]="`assets/img/professions/${p.profession}.png`" />
    }
  </nz-tag>
}
