@if (rows().length) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="plotsTitle">
    <ng-template #plotsTitle>
      @if (isNew()) {
        <nz-tag nzColor="gold">NEW</nz-tag>
      }
      Complots en cours
    </ng-template>
    @for (row of rows(); track row.schemer.id) {
      <ng-template #plotTitle>
        <img [src]="`assets/img/plots/${row.icon}.png`" />
        <span>{{ row.label }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="plotTitle">
        <app-person-tag [id]="row.schemer.id" [name]="row.schemer.name" />
      </nz-descriptions-item>
    }
  </nz-descriptions>
}
