<nz-descriptions nzBordered nzSize="small" [nzColumn]="2" [nzTitle]="title()">
  <nz-descriptions-item [nzTitle]="normalTitle">
    {{ counts().normal }}
    @if (deltas()?.normal; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="rareTitle">
    {{ counts().rare }}
    @if (deltas()?.rare; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="epicTitle">
    {{ counts().epic }}
    @if (deltas()?.epic; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="legendaryTitle">
    {{ counts().legendary }}
    @if (deltas()?.legendary; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #normalTitle><span class="rarity normal">Normaux</span></ng-template>
<ng-template #rareTitle><span class="rarity rare">Rares</span></ng-template>
<ng-template #epicTitle><span class="rarity epic">Épiques</span></ng-template>
<ng-template #legendaryTitle><span class="rarity legendary">Légend.</span></ng-template>
