<nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="title()">
  <nz-descriptions-item [nzTitle]="normalTitle">
    {{ counts().normal }}
    @if (deltas()?.normal; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="rareTitle">
    {{ counts().rare }}
    @if (deltas()?.rare; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="epicTitle">
    {{ counts().epic }}
    @if (deltas()?.epic; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="legendaryTitle">
    {{ counts().legendary }}
    @if (deltas()?.legendary; as d) {
      <nz-tag [nzColor]="d > 0 ? 'success' : 'error'">{{ d > 0 ? '+' : '' }}{{ d }}</nz-tag>
    }
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #normalTitle><nz-badge nzColor="default" nzText="Normaux" /></ng-template>
<ng-template #rareTitle><nz-badge nzColor="blue" nzText="Rares" /></ng-template>
<ng-template #epicTitle><nz-badge nzColor="yellow" nzText="Épiques" /></ng-template>
<ng-template #legendaryTitle><nz-badge nzColor="orange" nzText="Légendaires" /></ng-template>
