@let c = currentChapter();
@if (c) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    @for (row of snapshotRows(); track row.key) {
      <ng-template #titleRef>
        <img [src]="`assets/img/world/${row.key}.png`" />
        <span>{{ row.label | translate }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="titleRef">
        <span nz-tooltip [nzTooltipTitle]="row.value | exact">{{ row.value | compact }}</span>
        <app-delta [value]="row.delta" />
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <app-world-plots />

  @if (activityRows().length) {
    <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_recent_activity' | translate">
      @for (row of activityRows(); track row.icon) {
        <ng-template #titleRef>
          <img [src]="`assets/img/world/${row.icon}.png`" />
          <span>{{ row.label | translate }}</span>
        </ng-template>
        <nz-descriptions-item [nzTitle]="titleRef">
          <span nz-tooltip [nzTooltipTitle]="row.value | exact">{{ row.value | compact }}</span>
        </nz-descriptions-item>
      }
    </nz-descriptions>
  }

  @let totalDeaths = totalDeathsSincePrevious() ?? 0;
  @if (totalDeaths) {
    <nz-descriptions nzBordered nzSize="small" [nzColumn]="2" [nzTitle]="'ui_causes_of_death' | translate">
      @for (cause of sortedDeathCauses(); track cause.key) {
        @let deaths = deathsSincePrevious()?.[cause.key] ?? 0;
        <ng-template #titleRef>
          <img [src]="`assets/img/world/deaths/${cause.key}.png`" />
          <span>{{ cause.label | translate }}</span>
        </ng-template>
        <nz-descriptions-item [nzTitle]="titleRef">
          <span nz-tooltip [nzTooltipTitle]="deaths | exact">{{ deaths | compact }}</span>
        </nz-descriptions-item>
      }
      <ng-template #totalTitle>
        <img src="assets/img/world/deaths.png" />
        <span>{{ 'ui_total' | translate }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="totalTitle">
        <span nz-tooltip [nzTooltipTitle]="totalDeaths | exact">{{ totalDeaths | compact }}</span>
      </nz-descriptions-item>
    </nz-descriptions>
  }

  <app-leader-table [heading]="'ui_standing_by_level' | translate" [rows]="levelRows()" />
  <app-leader-table [heading]="'ui_standing_by_number' | translate" [rows]="memberRows()" />
  <app-leader-table [heading]="'ui_standing_by_score' | translate" [rows]="scoreRows()" />
}
