@let c = currentChapter();
@if (c) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    @for (stat of snapshotStats; track stat.key) {
      @let value = c.meta.world.snapshot[stat.key];
      @if (!stat.hideIfZero || value > 0) {
        <ng-template #titleRef>
          <img [src]="`assets/img/world/${stat.key}.png`" />
          <span>{{ stat.label }}</span>
        </ng-template>
        <nz-descriptions-item [nzTitle]="titleRef">
          <span>{{ value | compact }}</span>
          <app-delta [value]="snapshotDeltas()?.[stat.key]" />
        </nz-descriptions-item>
      }
    }
  </nz-descriptions>

  <nz-descriptions nzBordered nzSize="small" nzTitle="Activité récente" [nzColumn]="1">
    @for (stat of cumulativeStats; track stat.key) {
      <ng-template #titleRef>
        <img [src]="`assets/img/world/${stat.key}.png`" />
        <span>{{ stat.label }}</span>
      </ng-template>
      <nz-descriptions-item [nzTitle]="titleRef">
        {{ cumulativeDeltas()?.[stat.key] ?? c.meta.world.cumulative[stat.key] | compact }}
      </nz-descriptions-item>
    }
    <ng-template #plotsActiveTitle>
      <img src="assets/img/world/plots_active.png" />
      <span>Complots en cours</span>
    </ng-template>
    <nz-descriptions-item [nzTitle]="plotsActiveTitle">{{ c.meta.world.snapshot.plots_active | compact }}</nz-descriptions-item>
  </nz-descriptions>

  <nz-descriptions nzBordered nzSize="small" nzTitle="Causes de mortalité" [nzColumn]="2">
    @for (cause of deathCauses; track cause.key) {
      <nz-descriptions-item [nzTitle]="cause.label">
        {{ deathsSincePrevious()?.[cause.key] ?? 0 | compact }}
      </nz-descriptions-item>
    }
    <nz-descriptions-item nzTitle="Total">
      {{ totalDeathsSincePrevious() ?? 0 | compact }}
    </nz-descriptions-item>
  </nz-descriptions>

  @if (leaderRows().length) {
    <nz-descriptions nzBordered nzSize="small" nzTitle="Palmarès" [nzColumn]="1">
      @for (row of leaderRows(); track row.data.key) {
        <ng-template #titleRef>
          <img [src]="`assets/img/world/${row.data.key}.png`" />
          <span>{{ row.label }}</span>
        </ng-template>
        <nz-descriptions-item [nzTitle]="titleRef">
          <app-leader-row [row]="row.data" />
        </nz-descriptions-item>
      }
    </nz-descriptions>
  }
}
