@if (breakdown()) {
  <nz-descriptions nzBordered nzSize="small" nzTitle="Composition" [nzColumn]="1">
    @if (tops().species; as s) {
      <nz-descriptions-item [nzTitle]="speciesTitle">
        <span>
          <img class="species-icon" [src]="`assets/img/species/${s.asset_id}.png`" /> {{ s.asset_id | speciesName }} <span class="share">{{ share(s.pct) }}</span>
        </span>
      </nz-descriptions-item>
    }
    @if (tops().subspecies; as ss) {
      <nz-descriptions-item [nzTitle]="subspeciesTitle">
        <app-subspecies-tag [id]="ss.id" [name]="ss.name" /> <span class="share">{{ share(ss.pct) }}</span>
      </nz-descriptions-item>
    }
    @if (tops().culture; as c) {
      <nz-descriptions-item [nzTitle]="cultureTitle">
        <app-culture-tag [id]="c.id" [name]="c.name" /> <span class="share">{{ share(c.pct) }}</span>
      </nz-descriptions-item>
    }
    @if (tops().language; as l) {
      <nz-descriptions-item [nzTitle]="languageTitle">
        <app-language-tag [id]="l.id" [name]="l.name" /> <span class="share">{{ share(l.pct) }}</span>
      </nz-descriptions-item>
    }
    @if (tops().religion; as r) {
      <nz-descriptions-item [nzTitle]="religionTitle">
        {{ r.name }} <span class="share">{{ share(r.pct) }}</span>
      </nz-descriptions-item>
    }
    @if (tops().kingdom; as k) {
      <nz-descriptions-item [nzTitle]="kingdomTitle">
        <app-kingdom-tag [id]="k.id" [name]="k.name" /> <span class="share">{{ share(k.pct) }}</span>
      </nz-descriptions-item>
    }
  </nz-descriptions>

  <ng-template #cultureTitle><img src="assets/img/world/cultures.png" /><span>Culture</span></ng-template>
  <ng-template #kingdomTitle><img src="assets/img/world/kingdom.png" /><span>Royaume</span></ng-template>
  <ng-template #languageTitle><img src="assets/img/world/languages.png" /><span>Langage</span></ng-template>
  <ng-template #religionTitle><img src="assets/img/world/religions.png" /><span>Religion</span></ng-template>
  <ng-template #speciesTitle><img src="assets/img/world/species.png" /><span>Espèce</span></ng-template>
  <ng-template #subspeciesTitle><img src="assets/img/world/subspecies.png" /><span>S. espèce</span></ng-template>
}
