@let r = row();
@switch (r.key) {
  @case ('most_populous_village') {
    @if (r.id !== undefined) {
      <app-city-tag [id]="r.id" [name]="r.name" />
    }
  }
  @case ('most_populous_kingdom') {
    @if (r.id !== undefined) {
      <app-kingdom-tag [id]="r.id" [name]="r.name" />
    }
  }
  @case ('most_renowned_person') {
    @if (r.id !== undefined) {
      <app-person-tag [id]="r.id" [name]="r.name" />
    }
  }
  @case ('dominant_species') {
    @if (r.asset_id) {
      <img class="species-icon" [src]="`assets/img/species/${r.asset_id}.png`" /> {{ r.name }}
    }
  }
  @default {
    {{ r.name }}
  }
}
@if (r.isNew) {
  <app-new-badge />
}
