@let r = row();
@if (r.id === undefined) {
  <!-- The dimensions no registry resolves: the species carries its icon, the rest are a name and nothing else. -->
  @if (r.asset_id) {
    <img class="species-icon" [src]="`assets/img/species/${r.asset_id}.png`" />
  }
  {{ r.asset_id ? (`species_${r.asset_id}` | translate) : r.name }}
} @else {
  @switch (r.group) {
    @case ('cities') {
      <app-city-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('clans') {
      <app-clan-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('cultures') {
      <app-culture-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('families') {
      <app-family-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('kingdoms') {
      <app-kingdom-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('languages') {
      <app-language-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('persons') {
      <app-person-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('religions') {
      <app-religion-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @case ('subspecies') {
      <app-subspecies-tag [id]="r.id" [medal]="false" [name]="r.name" />
    }
    @default {
      {{ r.name }}
    }
  }
}
