@if (personRows().length || familyRows().length) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="'ui_standing' | translate">
    <!-- Rows tracked by place: one dropped or reordered between chapters shifts the rest, and a moved `nz-descriptions-item` loses what it projects. -->
    @for (row of personRows(); track $index) {
      <ng-template #personTitle>
        <img [src]="row.icon" />
        <span>{{ row.label | translate }}</span>
        <app-new-badge [show]="row.isNew" />
      </ng-template>
      <nz-descriptions-item [nzTitle]="personTitle">
        <app-person-tag [id]="row.ref.id" [name]="row.ref.name" />
      </nz-descriptions-item>
    }
    @for (row of familyRows(); track $index) {
      <ng-template #familyTitle>
        <img [src]="row.icon" />
        <span>{{ row.label | translate }}</span>
        <app-new-badge [show]="row.isNew" />
      </ng-template>
      <nz-descriptions-item [nzTitle]="familyTitle">
        <app-family-tag [id]="row.ref.id" [name]="row.ref.name" />
      </nz-descriptions-item>
    }
  </nz-descriptions>
}
