<nz-descriptions nzBordered nzSize="small" [nzColumn]="2" [nzTitle]="title()">
  <nz-descriptions-item [nzTitle]="normalTitle">
    {{ counts().normal }}
    <app-delta [value]="deltas()?.normal" />
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="rareTitle">
    {{ counts().rare }}
    <app-delta [value]="deltas()?.rare" />
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="epicTitle">
    {{ counts().epic }}
    <app-delta [value]="deltas()?.epic" />
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="legendaryTitle">
    {{ counts().legendary }}
    <app-delta [value]="deltas()?.legendary" />
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #normalTitle><span class="rarity normal">Normaux</span></ng-template>
<ng-template #rareTitle><span class="rarity rare">Rares</span></ng-template>
<ng-template #epicTitle><span class="rarity epic">Épiques</span></ng-template>
<ng-template #legendaryTitle><span class="rarity legendary">Légend.</span></ng-template>
