@let w = war();
@let our = ourSide(w);
@let their = theirSide(w);

<nz-descriptions nzBordered nzSize="small" [nzColumn]="1" [nzTitle]="warTitle">
  <nz-descriptions-item [nzTitle]="declaredByTitle">
    <app-kingdom-tag [id]="w.started_by.kingdom.id" [name]="w.started_by.kingdom.name" />
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="renownTitle">{{ w.renown_at_stake }}</nz-descriptions-item>
  @if (w.duration_years > 0) {
    <nz-descriptions-item [nzTitle]="durationTitle">{{ w.duration_years }} ans</nz-descriptions-item>
  }

  <nz-descriptions-item [nzTitle]="ourSectionTitle(w)">
    <span appSectionRow class="section-marker"></span>
  </nz-descriptions-item>
  @if (ourAlliance(w); as a) {
    <nz-descriptions-item [nzTitle]="coalitionTitle">{{ a.name }}</nz-descriptions-item>
  }
  @if (w.allies.length) {
    <nz-descriptions-item [nzTitle]="alliesTitle">
      @for (ally of w.allies; track ally.id) {
        <app-kingdom-tag [id]="ally.id" [name]="ally.name" />
      }
    </nz-descriptions-item>
  }
  <nz-descriptions-item [nzTitle]="populationTitle">
    <span [class]="sideClass(w.populations, our)">{{ w.populations[our] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="warriorsTitle">
    <span [class]="sideClass(w.warriors, our)">{{ w.warriors[our] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="citiesTitle">
    <span [class]="sideClass(w.cities, our)">{{ w.cities[our] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="deathsTitle">
    <span [class]="sideClass(w.deaths, our, true)">{{ w.deaths[our] }}</span>
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="theirSectionTitle(w)">
    <span appSectionRow class="section-marker"></span>
  </nz-descriptions-item>
  @if (theirAlliance(w); as a) {
    <nz-descriptions-item [nzTitle]="coalitionTitle">{{ a.name }}</nz-descriptions-item>
  }
  <nz-descriptions-item [nzTitle]="opponentsTitle">
    @for (opp of w.opponents; track opp.id) {
      <app-kingdom-tag [id]="opp.id" [name]="opp.name" />
    }
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="populationTitle">
    <span [class]="sideClass(w.populations, their)">{{ w.populations[their] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="warriorsTitle">
    <span [class]="sideClass(w.warriors, their)">{{ w.warriors[their] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="citiesTitle">
    <span [class]="sideClass(w.cities, their)">{{ w.cities[their] }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="deathsTitle">
    <span [class]="sideClass(w.deaths, their, true)">{{ w.deaths[their] }}</span>
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #warTitle>
  @if (isNew()) {
    <app-new-badge />
  }
  <span>{{ w.name }}</span>
</ng-template>
<ng-template #alliesTitle><img src="assets/img/world/alliances.png" /><span>Alliés</span></ng-template>
<ng-template #citiesTitle><img src="assets/img/world/cities.png" /><span>Cités</span></ng-template>
<ng-template #coalitionTitle><img src="assets/img/world/alliances.png" /><span>Coalition</span></ng-template>
<ng-template #deathsTitle><img src="assets/img/world/deaths.png" /><span>Morts</span></ng-template>
<ng-template #declaredByTitle><img src="assets/img/professions/king.png" /><span>Déclarée par</span></ng-template>
<ng-template #durationTitle><img src="assets/img/world/duration.png" /><span>Durée</span></ng-template>
<ng-template #opponentsTitle><img src="assets/img/world/wars.png" /><span>Opposants</span></ng-template>
<ng-template #populationTitle><img src="assets/img/world/population.png" /><span>Population</span></ng-template>
<ng-template #renownTitle><img src="assets/img/stats/renown.png" /><span>Renommée en jeu</span></ng-template>
<ng-template #warriorsTitle><img src="assets/img/professions/warrior.png" /><span>Guerriers</span></ng-template>
