.banner-icon {
  display: inline-block;
  height: 15px;
  margin-left: 0.25rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 15px;
}
