@if (kingdom(); as k) {
  <nz-descriptions nzBordered nzSize="small" [nzColumn]="1">
    <nz-descriptions-item [nzTitle]="ageTitle">
      <app-ranked-stat source="kingdom" stat="age" suffix=" ans" [hideDelta]="true" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="renownTitle">
      <app-ranked-stat source="kingdom" stat="renown" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="populationTitle">
      <app-ranked-stat source="kingdom" stat="population" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="warriorsTitle">
      <app-ranked-stat source="kingdom" stat="warriors" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="citiesTitle">
      <app-ranked-stat source="kingdom" stat="cities" />
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="territoryTitle">
      <app-ranked-stat source="kingdom" stat="territory" />
    </nz-descriptions-item>
  </nz-descriptions>

  @for (war of k.wars; track war.id) {
    <app-war-card [isNew]="startedWarIds().has(war.id)" [war]="war" />
  }

  <ng-template #ageTitle><img src="assets/img/stats/age.png" /><span>Âge</span></ng-template>
  <ng-template #citiesTitle><img src="assets/img/world/cities.png" /><span>Cités</span></ng-template>
  <ng-template #populationTitle><img src="assets/img/world/population.png" /><span>Population</span></ng-template>
  <ng-template #renownTitle><img src="assets/img/stats/renown.png" /><span>Renommée</span></ng-template>
  <ng-template #territoryTitle><img src="assets/img/world/territory.png" /><span>Territoire</span></ng-template>
  <ng-template #warriorsTitle><img src="assets/img/professions/warrior.png" /><span>Guerriers</span></ng-template>
}
