@let w = world();
@let c = currentChapter();
@if (w && c) {
  @let ageId = c.meta.world.metadata.age_id.replace('age_', '');
  <h2 class="section-title">{{ w.name }}</h2>
  <p class="world-age">
    <img class="age-icon" [src]="`assets/img/ages/${ageId}.png`" />
    {{ c.meta.age_label }}
  </p>
  <nz-divider />

  <ng-template #worldStatsHeader>
    <img class="panel-icon" src="assets/img/world/world_stats.png" />
    <span>Monde</span>
  </ng-template>
  <ng-template #favoritesHeader>
    <img class="panel-icon" src="assets/img/world/favorites.png" />
    <span>Favoris</span>
  </ng-template>
  <ng-template #favoriteExtra>
    @if (c.meta.favorite; as fav) {
      <app-person-tag [assetId]="fav.metadata.asset_id" [name]="fav.metadata.name" [sex]="fav.metadata.sex" />
    }
  </ng-template>
  <ng-template #kingdomHeader>
    <img class="panel-icon" src="assets/img/world/kingdom.png" />
    <span>Royaume</span>
  </ng-template>
  <ng-template #kingdomExtra>
    @if (c.meta.kingdom; as k) {
      <app-kingdom-tag [id]="k.metadata.id" [name]="k.metadata.name" />
    }
  </ng-template>

  <nz-collapse nzAccordion>
    <nz-collapse-panel [nzActive]="activePanel() === 'world-stats'" [nzHeader]="worldStatsHeader" (nzActiveChange)="onPanelToggle('world-stats', $event)">
      <app-world-stats />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'favorite'"
      [nzDisabled]="!c.meta.favorite"
      [nzExtra]="favoriteExtra"
      [nzHeader]="favoritesHeader"
      (nzActiveChange)="onPanelToggle('favorite', $event)"
    >
      <app-favorite />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'kingdom'"
      [nzDisabled]="!c.meta.kingdom"
      [nzExtra]="kingdomExtra"
      [nzHeader]="kingdomHeader"
      (nzActiveChange)="onPanelToggle('kingdom', $event)"
    >
      <app-kingdom />
    </nz-collapse-panel>
  </nz-collapse>
} @else {
  <nz-empty nzNotFoundContent="Aucune donnée à afficher" nzNotFoundImage="assets/img/empty/no-data.png" />
}
