@let w = world();
@let c = currentChapter();
@if (w && c) {
  @let ageId = c.meta.world.metadata.age_id;
  <h2 class="section-title">{{ w.name }}</h2>
  <p class="world-age">
    <img class="age-icon" [src]="`assets/img/ages/${ageId}.png`" />
    {{ ageLabels[ageId] ?? ageId }}
  </p>
  <nz-divider />

  <ng-template #worldStatsHeader>
    <img class="panel-icon" src="assets/img/world/world_stats.png" />
    <span>Monde</span>
  </ng-template>
  <ng-template #favoritesHeader>
    <img class="panel-icon" src="assets/img/world/favorites.png" />
    <span>Favoris</span>
  </ng-template>
  <ng-template #familyHeader>
    <img class="panel-icon" src="assets/img/world/families.png" />
    <span>Lignée</span>
  </ng-template>
  <ng-template #clanHeader>
    <img class="panel-icon" src="assets/img/world/most_renowned_clan.png" />
    <span>Clan</span>
  </ng-template>
  <ng-template #cultureHeader>
    <img class="panel-icon" src="assets/img/world/cultures.png" />
    <span>Culture</span>
  </ng-template>
  <ng-template #languageHeader>
    <img class="panel-icon" src="assets/img/world/languages.png" />
    <span>Langue</span>
  </ng-template>
  <ng-template #religionHeader>
    <img class="panel-icon" src="assets/img/world/religions.png" />
    <span>Religion</span>
  </ng-template>
  <ng-template #subspeciesHeader>
    <img class="panel-icon" src="assets/img/world/subspecies.png" />
    <span>S. espèce</span>
  </ng-template>
  <ng-template #cityHeader>
    <img class="panel-icon" src="assets/img/world/village.png" />
    <span>{{ cityTerm() }}</span>
  </ng-template>
  <ng-template #kingdomHeader>
    <img class="panel-icon" src="assets/img/world/kingdom.png" />
    <span>Royaume</span>
  </ng-template>

  <ng-template #cityChip><app-panel-extra panel="city" /></ng-template>
  <ng-template #clanChip><app-panel-extra panel="clan" /></ng-template>
  <ng-template #cultureChip><app-panel-extra panel="culture" /></ng-template>
  <ng-template #familyChip><app-panel-extra panel="family" /></ng-template>
  <ng-template #favoriteChip><app-panel-extra panel="favorite" /></ng-template>
  <ng-template #kingdomChip><app-panel-extra panel="kingdom" /></ng-template>
  <ng-template #languageChip><app-panel-extra panel="language" /></ng-template>
  <ng-template #religionChip><app-panel-extra panel="religion" /></ng-template>
  <ng-template #subspeciesChip><app-panel-extra panel="subspecies" /></ng-template>

  <nz-collapse nzAccordion>
    <nz-collapse-panel [nzActive]="activePanel() === 'world-stats'" [nzHeader]="worldStatsHeader" (nzActiveChange)="onPanelToggle('world-stats', $event)">
      <app-world-stats />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'favorite'"
      [nzCollapsible]="collapsible(c.meta.favorite)"
      [nzExtra]="favoriteChip"
      [nzHeader]="favoritesHeader"
      (nzActiveChange)="onPanelToggle('favorite', $event)"
    >
      <app-favorite />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'family'"
      [nzCollapsible]="collapsible(c.meta.family)"
      [nzExtra]="familyChip"
      [nzHeader]="familyHeader"
      (nzActiveChange)="onPanelToggle('family', $event)"
    >
      <app-family />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'clan'"
      [nzCollapsible]="collapsible(c.meta.clan)"
      [nzExtra]="clanChip"
      [nzHeader]="clanHeader"
      (nzActiveChange)="onPanelToggle('clan', $event)"
    >
      <app-clan />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'culture'"
      [nzCollapsible]="collapsible(c.meta.culture)"
      [nzExtra]="cultureChip"
      [nzHeader]="cultureHeader"
      (nzActiveChange)="onPanelToggle('culture', $event)"
    >
      <app-culture />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'language'"
      [nzCollapsible]="collapsible(c.meta.language)"
      [nzExtra]="languageChip"
      [nzHeader]="languageHeader"
      (nzActiveChange)="onPanelToggle('language', $event)"
    >
      <app-language />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'religion'"
      [nzCollapsible]="collapsible(c.meta.religion)"
      [nzExtra]="religionChip"
      [nzHeader]="religionHeader"
      (nzActiveChange)="onPanelToggle('religion', $event)"
    >
      <app-religion />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'subspecies'"
      [nzCollapsible]="collapsible(c.meta.subspecies)"
      [nzExtra]="subspeciesChip"
      [nzHeader]="subspeciesHeader"
      (nzActiveChange)="onPanelToggle('subspecies', $event)"
    >
      <app-subspecies />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'city'"
      [nzCollapsible]="collapsible(c.meta.city)"
      [nzExtra]="cityChip"
      [nzHeader]="cityHeader"
      (nzActiveChange)="onPanelToggle('city', $event)"
    >
      <app-city />
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzActive]="activePanel() === 'kingdom'"
      [nzCollapsible]="collapsible(c.meta.kingdom)"
      [nzExtra]="kingdomChip"
      [nzHeader]="kingdomHeader"
      (nzActiveChange)="onPanelToggle('kingdom', $event)"
    >
      <app-kingdom />
    </nz-collapse-panel>
  </nz-collapse>
} @else {
  <nz-empty nzNotFoundContent="Aucune donnée à afficher" nzNotFoundImage="assets/img/empty/no-data.png" />
}
